<table>
	<thead>
		<tr>
			<td>County Data</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Founded:</strong> {{ founded }}</td>
			<td rowspan="5">
				<figure class="resource">
					<a href="#imgZoom"><img class="thumb" data-info="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ county }}%2F{{ county2 }}.jp2/info.json" src="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ county }}%2F{{ county2 }}.jp2/full/!300,300/0/default.jpg"></a>
				</figure>
			</td>
		</tr>
		<tr>
			<td><strong>Total Area:</strong> {{ area }}</td>
		</tr>
		<tr>
			<td><strong>Population:</strong>  {{ population }}</td>
		</tr>
		<tr>
			<td><strong>County Seat:</strong> {{ county_seat }}</td>
		</tr>
		<tr>
			<td><strong>Largest City:</strong> {{ largest_city }}</td>
		</tr>
	</tbody>
</table>