<div class="resource two-up">
	<a href="#imgZoom"><img class="thumb" data-info="http://libimages.princeton.edu/loris/exhibits%2Fnj-historic-maps%2F{{ dir }}%2F{{ id }}.jp2/info.json" src="http://libimages.princeton.edu/loris/exhibits%2Fnj-historic-maps%2F{{ dir }}%2F{{ id }}.jp2/full/!375,375/0/native.jpg" alt="{{ title }}"></a>
</div>
<div class="resource two-up">
	<a href="#imgZoom"><img class="thumb" data-info="http://libimages.princeton.edu/loris/exhibits%2Fnj-historic-maps%2F{{ dir2 }}%2F{{ id2 }}.jp2/info.json" src="http://libimages.princeton.edu/loris/exhibits%2Fnj-historic-maps%2F{{ dir2 }}%2F{{ id2 }}.jp2/full/!375,375/0/native.jpg" alt="{{ title2 }}"></a>
</div><div class="caption fig2">Left: {{ title }}; Right: {{ title2 }}</div>