<div class="resource two-up">
	<a href="#imgZoom"><img class="thumb" data-info="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ dir }}%2F{{ id }}.jp2/info.json" src="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ dir }}%2F{{ id }}.jp2/full/!375,375/0/default.jpg" alt="{{ title }}"></a>
</div>
<div class="resource two-up">
	<a href="#imgZoom"><img class="thumb" data-info="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ dir2 }}%2F{{ id2 }}.jp2/info.json" src="https://libimages.princeton.edu/loris2/exhibits%2Fnj-historic-maps%2F{{ dir2 }}%2F{{ id2 }}.jp2/full/!375,375/0/default.jpg" alt="{{ title2 }}"></a>
</div><div class="caption fig2">{{ title }}</div>