<div class="branding">
    <div class="contain">
        <a href="http://library.princeton.edu"><img src="../njmaps/assets/img/pul.png" alt="Princeton University Library"></a> <span class="right">Historic Maps Collection</span>
    </div>
</div>

<header class="hero">

  <div class="hero-inner">
      <div class="hero-copy">
        <h1><a href="index.html">Nova Cæsarea: <span class="subtitle">A Cartographic Record of the Garden State</span> <span class="date">1666-1888</span></a></h1>
      </div>
  </div>
      
</header>
