<nav>
  <ul>
     <li><a href="index.html">About This Site</a></li>
     <li><a href="perspective.html">Perspective: Surveying Land</a></li>
     <li class="background"><span class="empty">Historical Background Maps</span>
     	<ul class="background-deets">
     		<li><a href="background/coastal_charts.html">Coastal Charts (1666, 1675, 1749)</a></li>
     		<li><a href="background/road_maps.html">Road Maps (1762, 1766, 1781, 1802)</a></li>
     		<li><a href="background/state_maps.html">State Maps (1777, 1784)</a></li>
     	</ul>
     </li>
     <li><a href="state_of_nj.html">State of New Jersey: First Wall Maps and Atlases (1812–1888)</a></li>
     <li class="counties"><span class="empty">New Jersey Counties: First Wall Maps and Atlases (1849–1882)</span>
	     <ul class="counties-deets">
               <li><a href="counties.html">Introduction</a></li>
     		<li><a href="counties/atlantic.html">Atlantic County</a></li>
     		<li><a href="counties/bergen.html">Bergen County</a></li>
     		<li><a href="counties/burlington.html">Burlington County</a></li>
     		<li><a href="counties/camden.html">Camden County</a></li>
     		<li><a href="counties/cape_may.html">Cape May County</a></li>
     		<li><a href="counties/cumberland.html">Cumberland County</a></li>
     		<li><a href="counties/essex.html">Essex County</a></li>
     		<li><a href="counties/gloucester.html">Gloucester County</a></li>
     		<li><a href="counties/hudson.html">Hudson County</a></li>
     		<li><a href="counties/hunterdon.html">Hunterdon County</a></li>
     		<li><a href="counties/mercer.html">Mercer County</a></li>
     		<li><a href="counties/middlesex.html">Middlesex County</a></li>
     		<li><a href="counties/monmouth.html">Monmouth County</a></li>
     		<li><a href="counties/morris.html">Morris County</a></li>
     		<li><a href="counties/ocean.html">Ocean County</a></li>
     		<li><a href="counties/passaic.html">Passaic County</a></li>
     		<li><a href="counties/salem.html">Salem County</a></li>
     		<li><a href="counties/somerset.html">Somerset County</a></li>
     		<li><a href="counties/sussex.html">Sussex County</a></li>
     		<li><a href="counties/union.html">Union County</a></li>
     		<li><a href="counties/warren.html">Warren County</a></li>
     	</ul>
     </li>
     <li><a href="coast.html">New Jersey Coast: First Atlas (1878)</a></li>
     <li><a href="conclusion.html">Conclusion</a></li>
     <li><a href="sources.html">Sources Consulted</a></li>
     <li><a href="purchase.html">Purchase the Companion Book</a></li>
  </ul>
</nav>