/*
Error: Undefined mixin 'transition'.
        on line 36 of assets/scss/modal.scss, in `transition'
        from line 36 of assets/scss/modal.scss

31:   .cssmodal-open {
32:     overflow: hidden;
33:   }
34: 
35:   .cssmodal-window { // overlay
36:     @include transition(opacity .25s ease);
37:     @include position(fixed, 0px 0px 0px 0px);
38:     background: rgba(0,0,0, .75);
39:     opacity: 0;
40:     text-align: left;
41:     visibility: hidden;

Backtrace:
assets/scss/modal.scss:36:in `transition'
assets/scss/modal.scss:36
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:98:in `with_mixin'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:329:in `block in watch'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/aliauw/.rvm/rubies/ruby-2.0.0-p481/lib/ruby/gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 36 of assets/scss/modal.scss, in `transition'\A         from line 36 of assets/scss/modal.scss\A \A 31:   .cssmodal-open {\A 32:     overflow: hidden;\A 33:   }\A 34: \A 35:   .cssmodal-window { // overlay\A 36:     @include transition(opacity .25s ease);\A 37:     @include position(fixed, 0px 0px 0px 0px);\A 38:     background: rgba(0,0,0, .75);\A 39:     opacity: 0;\A 40:     text-align: left;\A 41:     visibility: hidden;"; }
