<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <section>
      <aside>
          {% include nav.html %}
      </aside>
      <article>
          {{ content }}
      </article>
    </section>

    <div id="lightbox"></div>
    <div class="modal fade" id="container">
      <div class="header" id="imgZoomLabel"></div>
      <div class="openseadragon" id="viewer"></div>
      <div class="footer"><button class="close" data-dismiss="modal">Close</button></div>
    </div>

    </body>
</html>